doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Story Archive
        link(href='/css/star.css', rel='stylesheet', media='all')
    body.background-color__gray
        .nav.flex.background-color__blue_dark
            ul.flex-item__left.disable__margin.disable__padding
                li
                    a(href='#').text-color__white.text-color__white_hover Story Archive
            ul.flex-item__center_auto.disable__margin.disable__padding
            ul.flex-item__right.disable__margin.disable__padding
                li
                    a(href='#').text-color__white.text-color__white_hover Login
        .nav.flex.background-color__blue
            ul.flex-item__left.disable__margin.disable__padding
                li
                    a(href='/stories/').text-color__white.text-color__white_hover Stories
                li
                    a(href='/forum/').text-color__white.text-color__white_hover Forum
            ul.flex-item__center_auto.disable__margin.disable__padding
            ul.flex-item__right.disable__margin.disable__padding
                li
                    input(placeholder='Search').input.background-color__gray
        .content
            .alert.background-color__red.background-color__red_hover
                h3.text-color__white Warning this page is being worked on.
                h5.text-color__white.no__bold
                    a.text-color__white.text-color__white_hover(href='/stories/') Please visit the story page.
            .panel.background-color__white
                .panel-header.flex
                    .flex-item__center_auto
                        a(href='/stories/').text-color__black.text-color__black_hover
                            h3.disable__margin Stories
                .panel-body A place where stories roam free. Where you can go the disconnect yourself from the phsyical plane and delve into the creative minds of others.
            .grid
                .grid__cell
                    .panel.background-color__white
                        .panel-header.nav.flex
                            .flex-item__left
                                .tile.background-color__teal.background-color__teal_hover.text-color__white F
                            .flex-item__center_auto
                                a(href='#').text-color__black.text-color__black_hover
                                    h3.disable__margin Forum
                                br
                                a(href='#').text-color__black.text-color__black_hover
                                    h5.disable__margin
                .grid__cell
                    .panel.background-color__white
                        .panel-header.nav.flex
                            .flex-item__left
                                .tile.background-color__teal.background-color__teal_hover.text-color__white F
                            .flex-item__center_auto
                                a(href='#').text-color__black.text-color__black_hover
                                    h3.disable__margin Forum
                                br
                                a(href='#').text-color__black.text-color__black_hover
                                    h5.disable__margin
                .grid__cell
                    .panel.background-color__white
                        .panel-header.nav.flex
                            .flex-item__left
                                .tile.background-color__teal.background-color__teal_hover.text-color__white F
                            .flex-item__center_auto
                                input(placeholder='Search').input.background-color__gray
                                br
                                a(href='#').text-color__black.text-color__black_hover
                                    h5.disable__margin
        .nav.flex.background-color__blue_dark
            ul.flex-item__left.disable__margin.disable__padding
                li
                    a(href='#').text-color__white.text-color__white_hover Copyright &copy; 2017, Ian C.
            ul.flex-item__center_auto.disable__margin.disable__padding
            ul.flex-item__right.disable__margin.disable__padding
