doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Story Archive
        link(href='/css/star.css', rel='stylesheet', media='all')
    body.background-color__gray
        .nav.flex.background-color__blue_dark
            ul.flex-item__left.disable__margin.disable__padding
                li
                    a(href='#').text-color__white.text-color__white_hover Story Archive
            ul.flex-item__center_auto.disable__margin.disable__padding
            ul.flex-item__right.disable__margin.disable__padding
                li
                    a(href='#').text-color__white.text-color__white_hover Login
        .nav.flex.background-color__blue
            ul.flex-item__left.disable__margin.disable__padding
                li
                    a(href='/stories/').text-color__white.text-color__white_hover Stories
                li
                    a(href='/forum/').text-color__white.text-color__white_hover Forum
            ul.flex-item__center_auto.disable__margin.disable__padding
            ul.flex-item__right.disable__margin.disable__padding
                li
                    input(placeholder='Search').input.background-color__gray
        .content
            .panel.background-color__white
                .panel-header.flex
                    .flex-item__center_auto
                        a(href='/forum/general/').text-color__black.text-color__black_hover
                            h3.disable__margin General
                .panel-body
                    .panel.background-color__gray
                        .panel-header.flex
                            .flex-item__center_auto
                                a(href='/forum/general/media/').text-color__black.text-color__black_hover
                                    h3.disable__margin Media
                        .panel-body
                .panel-body
                    .panel.background-color__gray
                        .panel-header.flex
                            .flex-item__center_auto
                                a(href='/forum/general/lounge/').text-color__black.text-color__black_hover
                                    h3.disable__margin The Lounge
                        .panel-body
            .panel.background-color__white
                .panel-header.flex
                    .flex-item__center_auto
                        a(href='/forum/stories/').text-color__black.text-color__black_hover
                            h3.disable__margin Stories
                .panel-body
                    .panel.background-color__gray
                        .panel-header.flex
                            .flex-item__center_auto
                                a(href='/forum/stories/challenges/').text-color__black.text-color__black_hover
                                    h3.disable__margin Challenges
                        .panel-body
                .panel-body
                    .panel.background-color__gray
                        .panel-header.flex
                            .flex-item__center_auto
                                a(href='/forum/stories/bunnies/').text-color__black.text-color__black_hover
                                    h3.disable__margin Bunnies
                        .panel-body
            .panel.background-color__white
                .panel-header.flex
                    .flex-item__center_auto
                        a(href='/forum/meta/').text-color__black.text-color__black_hover
                            h3.disable__margin Meta
                .panel-body
                    .panel.background-color__gray
                        .panel-header.flex
                            .flex-item__center_auto
                                a(href='/forum/meta/site/').text-color__black.text-color__black_hover
                                    h3.disable__margin The Site
                        .panel-body
                .panel-body
                    .panel.background-color__gray
                        .panel-header.flex
                            .flex-item__center_auto
                                a(href='/forum/meta/api/').text-color__black.text-color__black_hover
                                    h3.disable__margin API
                        .panel-body
        .nav.flex.background-color__blue_dark
            ul.flex-item__left.disable__margin.disable__padding
                li
                    a(href='#').text-color__white.text-color__white_hover Copyright &copy; 2017, Ian Cronkright.
            ul.flex-item__center_auto.disable__margin.disable__padding
            ul.flex-item__right.disable__margin.disable__padding
